.detail-page {
    .details-header {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        height: 0.5rem;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        padding: 0.11rem;
        align-items: center;
        a {
            display: block;
            font-size: 0.35rem;
        }
        span {
            display: block;
            font-size: 0.25rem;
            i {
                margin-right: 0.36rem
            }
        }
    }
    .detail-header-position {
        background: #fff;
        border: 1px solid #e1e1e1;
        position: fixed;
        z-index: 1000;
        top: 0.6rem;
        right: 0.06rem;
        width: 1.5rem;
        ul {
            li {
                padding: 0.12rem 0.36rem 0.12rem 0.24rem;
                font-size: 0.15rem;
                width: 1.5rem;
                a {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    i {
                        margin-right: 0.1rem
                    }
                }
            }
        }
    }
    .swiper-container {
        padding-top: 0.5rem;
        background: #fff;
        .swiper-pagination {
            background: -webkit-linear-gradient(bottom, #ddd, rgba(255, 255, 255, 0));
            padding-bottom: 0.05rem;
            text-align: center;
            line-height: 0.81rem;
            position: static
        }
    }
    .details-title {
        .details-title-title {
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding: 0.12rem;
            margin-top: 0.1rem;
            font-size: 15px;
            border-bottom: 1px solid #eee;
            >span {
                width: 2.56rem;
                height: 0.44rem;
                display: block;
                line-height: 0.25rem;
            }
            em {
                width: 0.4rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                height: 0.44rem;
                border-left: 1px solid #ddd;
                padding-left: 0.05rem;
                i {
                    font-size: 0.2rem
                }
            }
        }
        .details-share {
            padding: 0.09rem;
            width: 1.8rem;
            height: 0.55rem;
            position: absolute;
            background: #333;
            right: 0.6rem;
            bottom: 1.8rem;
            i {
                float: left;
                color: #fff;
                font-size: 0.2rem;
                width: 33%;
                text-align: center;
                line-height: 0.4rem;
            }
        }
        .details-title-price {
            position: relative;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            background: #fff;
            padding: 0.12rem;
            line-height: 0.2rem;
            span {
                font-size: 17px;
                color: #e8343b;
                font-weight: 700;
            }
            b {
                font-size: 0.12rem;
            }
            em {
                font-size: 0.12rem;
            }
        }
    }
    .details-title-tag {
        height: 0.36rem;
        line-height: 0.36rem;
        padding: 0 0.1rem;
        text-align: center;
        span {
            display: block;
            font-size: 0.15px;
            height: 0.36rem;
            float: left;
            width: 25%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            i {
                margin-right: 0.05rem;
            }
        }
    }
    .color-choice {
        background: #fff;
        p {
            padding: 0.12rem 0.12rem 0;
            font-size: 12px;
        }
        .color-btn {
            padding: 0.12rem;
            height: 0.6rem;
            line-height: 0.36rem;
            border-bottom: 1px solid #000000;
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                float: left;
                display: block;
                font-size: 12px;
                width: 0.8rem;
                margin-right: 0.05rem;
                background: #eee;
                height: 0.3rem;
                text-align: center;
                line-height: 0.3rem;
            }
        }
    }
    .color-choice-item {
        padding: 0.12rem;
        display: flex;
        justify-content: space-around;
        font-size: 0.12rem;
        background: #fff;
        .color-item-img-box {
            .color-item-img {
                width: 0.85rem;
                display: table-cell;
                vertical-align: middle;
                height: 0.84rem;
                padding: 2px 0;
                border: 1px solid #e1e1e1;
                img {
                    max-width: 100%;
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        >span {
            width: 0.25rem;
            height: 0.84rem;
            text-align: center;
            line-height: 0.84rem;
            font-size: 0.2rem;
        }
        .first-a {
            display: block;
            width: 1.12rem;
            padding: 0 0.06rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 0.25rem;
            span {
                b {
                    font-size: 0.15rem;
                    color: #E51C23;
                    font-weight: 700;
                    margin-right: 0.05rem;
                }
                em {
                    text-decoration: line-through
                }
            }
        }
        i {
            width: 0.25rem;
            height: 0.84rem;
            font-size: 0.2rem;
            text-align: center;
            line-height: 0.84rem;
        }
    }
    .detail-store {
        margin-top: 0.15rem;
        margin-bottom: 0.15rem;
        background: #fff;
        p {
            padding: 0.12rem 0;
            font-size: 0.16rem;
            padding: 0.12rem 0.12rem;
        }
        .store-km {
            font-size: 0.12rem;
            padding: 0 0.12rem;
            em {
                color: #ff9800;
                margin-left: 0.05rem
            }
        }
        .store-address {
            padding: 0.2rem 0.12rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #000000;
            span {
                font-size: 0.12rem;
                width: 3rem;
            }
            i {
                color: #ec1c24;
                font-size: 0.3rem;
            }
        }
        .store-num {
            font-size: 0.12rem;
            display: flex;
            justify-content: space-between;
            padding: 0.1rem 0.12rem;
            align-items: center;
            i {
                font-size: 0.2rem;
            }
        }
    }
    .details-bottom-img {
        img {
            width: 100%;
            display: block;
        }
    }
    .detail-lookAgain {
        width: 100%;
        background: #fff;
        overflow: hidden;
        .lookAgain-item {
            float: left;
            display: flex;
            width: 50%;
            flex-direction: column;
            padding: 0.5rem 0.12rem 0.1rem 0.12rem;
            border-bottom: 1px solid #e1e1e1;
            height: 2.5rem;
            justify-content: space-around;
            img {
                width: 100%;
                height: 0.65rem;
            }
            p {
                font-size: 0.12rem;
                line-height: 0.2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            span {
                display: flex;
                justify-content: space-between;
                em {
                    font-size: 0.15rem;
                    color: #E51C23;
                    font-weight: 700;
                }
                b {
                    font-size: 0.12rem;
                    color: #C1C1C1;
                }
            }
        }
    }
    .lookBottomBox {
        padding-bottom: 0.6rem;
        .lookBottom {
            height: 0.5rem;
            text-align: center;
            padding: 0.14rem 0;
            margin: 0 0.14rem;
            span {
                display: block;
                background-color: #f2f2f2;
                padding-left: 0.28rem;
                padding-right: 0.28rem;
                font-size: 0.14rem
            }
        }
    }
    .bottom-position {
        position: fixed;
        bottom: 0;
        right: 0;
        background: #fff;
        font-size: 16px;
        width: 100%;
        display: flex;
        align-items: center;
        height: 0.6rem;
        .bp-left {
            text-align: center;
            width: 15%;
            font-size: 16px;
            p {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0.12rem 0;
                font-size: 0.18rem;
                height: 0.6rem;
                span {
                    font-size: 12px;
                }
            }
        }
        .bp-rightOne {
            text-align: center;
            background: #FF9500;
            width: 35%;
            height: 100%;
            font-size: 16px;
            span {
                color: #fff;
                line-height: 0.6rem;
            }
        }
        .bp-rightTwo {
            text-align: center;
            width: 35%;
            background: #e8343b;
            font-size: 16px;
            span {
                color: #fff;
                line-height: 0.6rem;
            }
        }
    }
    .back-top{
        width:0.48rem;
        height: 0.48rem;
        border-radius: 50%;
        background: #fff;
        font-size: 0.25rem;
        position: fixed;
        right: 0.1rem;
        bottom:0.7rem;
        text-align: center;
        line-height: 0.48rem;
        border: 1px solid #e1e1e1;
        font-weight:normal;
        display: none;
    }
}