.list{
    font-size:0.14rem;
    .list-top{
        width:100%;
        display:flex;
        justify-content: space-between;
        height:0.6rem;
        align-items:center;
        position:fixed;
        background:#fff;
        border-bottom:1px solid #e1e1e1;
        top:0;
        i{
            display:block;
            width:0.6rem;
            height:100%;
            text-align:center;
            font-size:0.3rem;
            line-height:0.6rem;
        }
        h1{
            font-weight:normal;
            font-size:0.16rem;
        }
        .top-right{
            display:flex;
            span{
                display:block;
                width:0.6rem;
                height:100%;
                text-align:center;
                line-height: 0.6rem;
                font-size:0.18rem;
            }
        }
    }
    .list-nav{
        padding-top:0.6rem;
        background:#fff;
        border-bottom:1px solid #e1e1e1;
        ul{
            display:flex;
            justify-content: space-around;
            li{
                padding:0.12rem 0;
                width:25%;
                display:flex;
                justify-content: center;
                align-items: center;
                i{
                    margin-left:0.05rem;
                }
            }
        }
    }
    .list-nr{
        .list-zhu{
            ul{
                overflow:hidden;
                a{
                    float:left;
                    width:50%;
                    background: #fff;
                    padding:0.12rem;
                    &:nth-child(2n+1){
                        border:0.03rem solid #f2f2f2;
                        border-left:0;
                    }
                    &:nth-child(2n){
                        border:0.03rem solid #f2f2f2;
                        border-right:0;
                    }
                    p{
                        width:100%;
                        min-height:1.44rem;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width:100%;
                            height:auto;
                            display:block;
                        }
                    }
                    span{
                        height:0.42rem;
                        width:100%;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        line-height:0.2rem;
                        overflow: hidden;
                        margin-bottom:0.1rem;
                    }
                    div{
                        display:flex;
                        justify-content: space-between;
                        padding-bottom:0.06rem;
                        em{
                            font-size:0.16rem;
                            color:#E51C23;
                            font-weight:bold;
                        }
                        i{
                            font-size:0.12rem;
                            color:#c1c1c1;
                            font-style: normal;
                            margin-top:0.05rem;
                        }
                    }
                }
            }
        }
    }
    .back-top{
        width:0.48rem;
        height: 0.48rem;
        border-radius: 50%;
        background: #fff;
        font-size: 0.25rem;
        position: fixed;
        right: 0.1rem;
        bottom:0.7rem;
        text-align: center;
        line-height: 0.48rem;
        border: 1px solid #e1e1e1;
        font-weight:normal;
        display: none;
    }
}
